.home-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    background-color: #08165F;
    color:white;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    animation-name: slidein;
    animation-duration: 3s;
}

@keyframes slidein{
    from{
        margin-left: 100%;
        width: 300%;
    }
    to{
        margin-left: 0%;
        width: 100%;
    }
}

.home-component {
    width: 300px;
    margin: 20px;
    
}

.home-header{
    color:white;
}

.photoOfDay {
    text-align: center;
    margin-left: 200px;
    margin-right:auto;
    margin-bottom: 30px;
    align-items: center;
}
