
.navbar > ul{
    list-style:none;
    display:flex;
    margin-left:auto;
    margin-right:auto;
    
    /* background-color:#0C1E80; */
    background-color:#08165F;
    padding: 10px; 
    margin: 0;
   
   

}

.navbar > ul > li{
    /* flex-direction:row; */
    /* justify-content:center; */
    /* padding: 3px; */
    margin-left:auto;
    margin-right:auto;
    margin-top: auto;
   
    
}
.navbar > ul > li > a{
    color:white;
    /* padding:10px; */
    text-decoration:none;
    font-weight: bold;
}

.navbar > ul > li > a:hover{
    background-color:white;
    color: #08165F;
}

a {
    color: black;
    font-weight: bold;
}
